<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DeepARLicenseKey</key>
	<string>$(DEEPAR_LICENSE_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>GRWM Studio uses your camera to show you the magic mirror.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>GRWM Studio records sound when you make a video so you can talk and sing along!</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save your favorite looks to your photos so you can show your friends.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fredoka-Regular.ttf</string>
		<string>Fredoka-Medium.ttf</string>
		<string>Fredoka-SemiBold.ttf</string>
		<string>Fredoka-Bold.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
